/* Reset */
* {
    margin: 100px;
    padding: 000;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: #007bff;
    color: rgb(255, 255, 255);
    text-align: RIGHT;
    padding: 20px;
}
/* Navigation */
nav {
    background-color: #f10000;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

av a:hover {
    color: #ffd700;
}

/* Main Content */
.container {
    width: 80%;
    margin: 20px auto;
}