/* Reset */
* {
    margin: 100px;
    padding: 000;
    box-sizing: border-box;
}
#comment baaan ku soo daray 
/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #3d7c06;
    color: #333;
    line-height: 1.6;
}
